%p= "tid : #{@girl.tid}"
%p= "name : #{@girl.name}"
%p= "birthday : #{@girl.birthday}"
%p= "constellation : #{@girl.constellation}"
%p= "bloodtype : #{@girl.bloodtype}"
%p= "height : #{@girl.height}"
%p= "cup : #{@girl.cup}"
%p= "birthplace : #{@girl.birthplace}"
%p= "interest : #{@girl.interest}"
%p= "characteristics : #{@girl.characteristics}"
%p= "thumb : #{@girl.thumb}"
= image_tag @girl.thumb
